.list--proprietaire {
  min-height: 90vh;
}

.proprietaire--field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 20rem;
  padding-block: 0.2rem 0.5rem;
  border-bottom: 1px solid grey;
}

.proprietaire--left {
  width: 84%;
}

.proprietaire--nom {
  font-size: 16px;
  font-weight: 600;
}

.proprietaire--mdp {
  font-size: 14px;
  font-weight: lighter;
}

.proprietaire--right {
  width: 16%;
  display: flex;
  justify-content: space-between;
}
